<html xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:each="movie: ${movies}" class="card mt-2 mb-2">
    <div class="card-body bg-dark text-white rounded">
        <div class="d-flex">
            <img th:src="${movie.getPosterUrl()}" alt="movie poster" width="300" height="450">
            <!--                <img alt="movie poster" width="300" height="450">-->
            <div class="m-4">
                <h5 class="card-title mb-0" th:text="${movie.getTitle()}"></h5>
                <p class="card-text text-primary" th:text="${movie.getReleaseYear()}"></p>
                <p class="card-text mt-3" th:text="${movie.getPlot()}">
                <div class="d-flex justify-content-center mt-3" th:id="'replaceWithSeats'+${movie.getId()}">
                    <div class="card">
                        <button
                                type="button"
                                th:hx-get="seats"
                                th:hx-target="'#replaceWithSeats'+${movie.getId()}"
                                hx-swap="outerHTML"
                                class="btn btn-primary btn-sm">Show Seats
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" id="replaceMe">
    <button
            type="button"
            th:hx-get="${link}"
            hx-target="#replaceMe"
            hx-swap="outerHTML"
            class="btn btn-primary btn-sm">Show More...
    </button>
</div>